
.body-head {
  margin-left: 25%;
  margin-top: 5%;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.subtitle {
  font-weight: lighter;
  color: #9c9c9c;
  margin-top: -30px;
}

.field {
    width: 80%;
}

.item {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    margin-left: -10%;
    margin-right: 10%;
    overflow: hidden;
    padding: 20px;
}

.pokemon-image {
    position:relative;
}

.pokemon-text {
    position:relative;
    left:180px; bottom:65px;
}