<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <meta charset="UTF-8">
    <title>Pockeapp</title>
</head>
<body>
    <HR WIDTH="50%">
    <div class="body-head">
        <div class="title">
            <p>Pokemon finder</p>
        </div>
        <div class="subtitle">
            <p>El que quiere pokemons que los busque</p>
        </div>

    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="form">
            {{ form.message.errors }}
            <div class="field">
            {{ form.pokemon_name }}
            <input type="submit" value="Buscar">
            </div>
        </div>
    </form>
        {% if pokemons %}
        <p class="title">Resultado de la busqueda</p>
        <ul>
            {% for pokemon in pokemons %}
            <li class="item"><img class="pokemon-image" src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}"> <div class="pokemon-text">{{ pokemon.name }}</div> </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</body>
</html>